.secondary-text {
  color: var(--text-secondary-color);
}

.tick {
  transition: transform 0.2s;

  &--active {
    transform: scaleY(-1);
  }
}

.pretty-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d8d8d8 transparent;
  overscroll-behavior: contain;
  // &::-webkit-scrollbar-track {
  // }
  &::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 20px;
    width: 4px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
}
