:root {
  --header-top-size: 78px;
  --header-bottom-size: 62px;

  // colors
  --text-color: #212529;
  --text-secondary-color: #21252999; // 60%

  @media (max-width: 768px) {
    --header-top-size: 58px;
    --header-bottom-size: 39.52px;
  }
}
